<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
# write your answer here
def length(x):
    a = len(x)
    print(a)
    
length('one')

3

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [40]:
# write your answer here
def characters(x):
    frequency_of_characters = {}
    for character in x:
        if character in frequency_of_characters:
            frequency_of_characters[character] = frequency_of_characters[character] + 1
        else:
            frequency_of_characters[character] = 1
    return frequency_of_characters
    
characters('google.com')

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [11]:
# write your answer here
def sum_list(x):
    total_sum = 0
    for a in x:
        total_sum = total_sum + a
    print (total_sum)

sum_list([1,2,3,4,5])

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [42]:
# write your answer here
def change(x):
    first_char = x[0]
    for a in x[1:]:
        if a == first_char:
            b = x[1:].replace(a, "$")
            c = first_char + b
    print (c)
    
change('restart')

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [22]:
# write your answer here
def s(a,b):
    s = 3.14 * (1 + a/b) ** 3
    return s 

s(1,2)

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [28]:
# write your answer here
def concatenate(dic1, dic2, dic3):
    final_dic = {}
    final_dic.update(dic1)
    final_dic.update(dic2)
    final_dic.update(dic3)
    print(final_dic)

dic1 = {1:10, 2:20} 
dic2 = {3:30, 4:40} 
dic3 = {5:50,6:60}
concatenate(dic1, dic2, dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [31]:
# write your answer here
def check_tuple(t, element):
    if element in t:
        print('Element', '"', element, '"', 'exists in the tuple') 
    else:
        print('Element', '"', element, '"', 'does not exist in the tuple')
            
t = (0, 1, 2, 3, 4, 5, 6)            
check_tuple(t, 5)

Element " 5 " exists in the tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [33]:
# write your answer here
def max_min_set(x):
    max_value = max(x)
    min_value = min(x)
    print('Maximum value is:', max_value)
    print('Minimum value is:', min_value)
    
max_min_set([1, 5, 7784, 45, 25, 3, 10, 65, 55])

Maximum value is: 7784
Minimum value is: 1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']